@import url(https://fonts.googleapis.com/css?family=Oswald:700,300,400);

body {
  font-family: 'Oswald', sans-serif;
  padding: 5% 10%;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
}
h1 {
  font-size: 500%;
  color: rgb(250,248,212);
  text-shadow: 3px 3px black;
}
button {
  position: absolute;
  top:10px;
  left: 10px;
}
